    <div class="navbar navbar-default">
		<div class="container-fluid">
			<script src="header.js"></script>
				  <div id="header" style="display:flex; align-items:center; justify-content:space-around;" data-ng-app="header" data-ng-controller="MainCtrl">
					    <div id="group1">
        					<a href="/"><h1>Title</h1></a>
					  	</div>
					  	<div id="group2">
							<div class="btn-toolbar">
								<% if (!user) { %>
								<div data-ng-click="toggleLogin()" class="btn btn-default"><span class="fa fa-user"></span> Local Login</div>
								<div data-ng-if="showLogin">healeloa</div>
								<a href="/signup" class="btn btn-default"><span class="fa fa-user"></span> Local Signup</a>
								<% } else {%>
								<a href="/profile" class="btn btn-default"><span class="fa fa-user"></span> <%= user.local.username %></a>
								<% } %>
							</div>
					    </div>
				  </div>
		</div>
    </div>